.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-logo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #434455;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  width: 1440px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.head-er {
  border-bottom: 1px solid#e7e9fc;
  background-color: #ffffff;
}

.div-header {
  display: flex;
}

.header-logo {
  margin-right: 76px;
}

.span-logo-web {
  color: #4d5ae5;
}

.span-logo-studio {
  color: #2e2f42;
}

.span-logo-studio:hover,
.span-logo-studio:focus {
  color: #404bbf;
}

.header-logo-studio :hover span {
  color: #404bbf;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu-list {
  display: flex;
  gap: 40px;
}

.menu-element {
  padding: 24px 0;
}

.menu-element :hover {
  color: #404bbf;
}

.link-studio {
  text-decoration: none;
  color: #2e2f42;
}

.link-studio :active {
  color: #404bbf;
}

.link-portfolio {
  text-decoration: none;
  color: #2e2f42;
}

.link-contacts {
  text-decoration: none;
  color: #2e2f42;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list :hover a {
  color: #404bbf;
}

.visually-hidden {
  visibility: hidden;
}

.hero-img-section {
  height: 600px;
  background-color: #2e2f42;

  padding: 188px 0;
  box-shadow: 0px 4px 4px 0px #00000026;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img-section-h1 {
  color: #ffffff;
  max-width: 496px;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn-order-service {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;

  cursor: pointer;
  color: #ffffff;
}

.btn-order-service:hover {
  background-color: #404bbf;
}

.section-1 {
  padding: 120px 0;
}

.our-team {
  background-color: #f4f4fd;
}

.section-1-list {
  display: flex;
  gap: 24px;
}

.our-team-list-product {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.section-our-team {
  padding: 120px 0;
}

.our-team-title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;

  padding-left: auto;
}

.our-team-list {
  display: flex;
  justify-content: start;
  gap: 24px;
}

.div-team-card {
  padding: 32px 0;
  display: block;
  justify-content: center;

  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-developer {
  width: calc((100% - 72px) / 4);
  border-radius: 0px, 0px, 4px, 4px;
}

.our-team-list-marketing {
  width: calc((100% - 72px) / 4);
  border-radius: 0px, 0px, 4px, 4px;
}

.our-team-list-designer {
  width: calc((100% - 72px) / 4);
  border-radius: 0px, 0px, 4px, 4px;
}

.name {
  text-align: center;
  margin-bottom: 8px;
}

.job {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-portfolio {
  border-width: 0 0 1px 0;

  border-style: solid;

  border-color: #e7e9fc;
}

.section-our-portfolio {
  padding: 120px 0;
}

.our-portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-section {
  width: calc((100% - 72px) / 4);
  max-width: 100%;
}

.port-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-card .image-portfolio {
  display: block;
  width: 100%;
  height: 360px;

  /* WHITE
  
  Header background, team card background
  */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.project-card:hover .overlay {
  /* hover project card */

  opacity: 1;
}

.footer {
  padding: 100px 0;
  background: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #f4f4fd;
}

.logo-studio :hover {
  color: #4d5ae5;
}

.footer-text {
  max-width: 264px;
  letter-spacing: 0.02em;

  color: #f4f4fd;
}
