
.main-body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-weight: 500;
  font-style: normal;
  background-color: #ffffff;
}

.container{
  width: 1158px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border: 1px solid #E7E9FC;
  display: flex;
  margin-top: 24px;
  
}

h1,h2,h3,h4,h5,h6,p,ol,ul,li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img{
  display: block;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 3%;
  font-weight: 700;
  text-decoration: none;
  width: 115px;
  height: 40px;
  padding: 24px 0;
  display: inline-block;
}

nav{
  display: flex;
  align-items: center;
}

.span-logo-web {
  color: #4d5ae5;
}

.span-logo-studio {
  color: #2e2f42;
}

.span-logo-studio:hover,
.span-logo-studio:focus {
  color: #404bbf;
}

.nav-bar {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #2e2f42;
  width: 261px;
  height: 24px;
  margin-top: 10px;
  margin-left: 76px;
}

.nav-bar-list{
  width: 261px;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.nav-studio{
  padding: 24px 0;
}

.nav-portfolo{
  padding: 24px 0;
}

.nav-contacts{
 padding: 24px 0;
}

.nav-bar li:hover {
  color: #404bbf;
}


.nav-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.contact{
  display: flex;
  gap: 40px;
}

.contact-mail{
  width: 153px;
  height: 24px;
}

.contact-tel{
  width: 151px;
  height: 24px;
  
}
.contact > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #434455;
}
.contact >a:hover,
.contact >a:focus {
  color: #404bbf;
}

.main{
  padding: 188px 0;
  background-color: #2e2f42;
}

.main-h1{
  max-width: 496px;
  color: #ffffff;
  font-weight: 700;
  line-height: 60px;
  font-size: 56px;
}


.order-button {
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
    border-radius: 4px;
  color: #ffffff;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  gap: 10px;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.h2-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5em;
  letter-spacing: 2%;
  color: #2e2f42;
}

.section-1{
  padding: 120px 0;
}

.section-1-list{
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.section-1-list-st{
  width: calc((100%-72px)/4);
}

.section-1-strategy-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #2e2f42;
}

.section-1-list-pt{
  width: calc((100%-72px)/4);
}


.section-1-punctuality-title{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #2e2f42;
    
}

.punctuality-title-p{
  font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
    width: 264px;
    padding-left: 22px;
}

.seciton-1-list-dt{
  width: calc((100%-72px)/4);
}
.section-1-diligence-title{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #2e2f42;
    
    
}

.diligence-title-p{
  font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
    width: 264px;
    padding-left: 22px;
}

.seciton-1-list-tt{
  width: calc((100%-72px)/4);
}

.section-1-technologies-title{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #2e2f42;
}

.technologies-title-p{
  font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
    width: 264px;
    padding-left: 22px;
}


.section{
  padding-top: 120px;
}


.section-2 {
  background-color: #f4f4fd;
  height: 732px;
  align-content: center;
}

.seciton-2-h2-title{
  font-size: 36px;
    font-weight: 700;
    line-height: 2.5em;
    letter-spacing: 2%;
    color: #2e2f42;
    text-align: center;
}
.section-2-list{
  list-style-type: none;
    padding-left: 156px;
    display: flex;
    
}

.section-2-mark{
  width: 264px;
  border-radius: 0px, 0px, 4px, 4px;
  text-align: center;
  background-color: #ffffff;
  padding: 0px, 0px, 32px, 0px;
  

}

.section-2-tom{
  width: 264px;
    border-radius: 0px, 0px, 4px, 4px;
    text-align: center;
    background-color: #ffffff;
}

.section-2-camila{
  width: 264px;
    border-radius: 0px, 0px, 4px, 4px;
    text-align: center;
    background-color: #ffffff;
}

.seciton-2-daniel{
  width: 264px;
    border-radius: 0px, 0px, 4px, 4px;
    text-align: center;
    background-color: #ffffff;
}

.section-2-h3 {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #2e2f42;
}


.section-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #434455;
}


.section-3-h2-title{
  font-size: 36px;
    font-weight: 700;
    line-height: 2.5em;
    letter-spacing: 2%;
    color: #2e2f42;
    text-align: center;
}


.section-3-list{
  list-style-type: none;
    padding-left: 156px;
    display: flex;
    flex-wrap: wrap;
  }

.section-3-banking-app{
  width: 300px;
  text-align: center;
}

.section-3-payment{
  width: 300px;
  text-align: center;
}

.section-3-meditation{
  width: 300px;
    text-align: center;
}

.section-3-taxi{
  width: 300px;
    text-align: center;
}

.section-3-screen-illustrations{
  width: 300px;
    text-align: center;
}

.section-3-online-courses{
  width: 300px;
    text-align: center;
}

.section-3 h3 {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #2e2f42;
}

.section-3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  height: 312px;
  margin-top: 120px;
}

.footer-panel{
  width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 3%;
  text-decoration: none;
  color: #4d5ae5;
  padding-top: 120px;
  padding-left: 120px;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-logo-studio:hover{
  color: #4d5ae5;
}

.footer-p{
  padding-left: 120px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #f4f4fd;
}
